<div style="font-family:arial; font-size:12px;">
    <p>
        Hallo,<br/>
        <br/>
        Bedankt voor je interesse in onze handelsprijzen.
        Helaas hebben we nog geen handelsvergunning, zodat we je niet als handelaar kunnen accepteren.<br/>
        Mocht je nog vragen hebben, aarzel dan niet om contact met ons op te nemen via telefoon of e-mail.
    </p>
</div>