<div style="font-family:arial; font-size:12px;">
    <p>
        Hello {{ customer.salutation.translated.displayName }} {{ customer.lastName }},<br/>
        <br/>
        thank you for your signing up with {{ salesChannel.translated.name }}.<br/>
        Please confirm the sign-up via the following link:<br/>
        <br/>
        <a href="{{ confirmUrl }}">Completing sign-up</a><br/>
        <br/>
        By this confirmation, you also agree that we may send you further emails as part of the fulfillment of the contract.
    </p>
</div>
