<div style="font-family:arial; font-size:12px;">
    <p>
        Hallo {{ customer.salutation.translated.displayName }} {{ customer.lastName }},<br/>
        <br/>
        Bedankt voor het registreren bij {{ salesChannel.translated.name }}.<br/>
        Bevestig de registratie via de volgende link:<br/>
        <br/>
        <a href="{{ confirmUrl }}">Registratie voltooien</a><br/>
        <br/>
        Door deze bevestiging gaat u er ook mee akkoord dat we u verdere e-mails kunnen sturen als onderdeel van de uitvoering van de overeenkomst.
    </p>
</div>
