<div style="font-family:arial; font-size:12px;">
    <br/>
    <p>
        {{ customer.salutation.letterName }} {{ customer.lastName }},<br/>
        <br/>
        Je account is geactiveerd voor de klantengroep {{ customerGroup.translated.name }}.<br/>
        Vanaf nu kan je winkelen tegen de nieuwe voorwaarden van deze klantengroep.<br/><br/>

        Mocht je nog vragen hebben, aarzel dan niet om contact met ons op te nemen.
    </p>
</div>