<h3>Hallo {{ newsletterRecipient.firstName }} {{ newsletterRecipient.lastName }}</h3>
<p>Bedankt voor je interesse in onze nieuwsbrief!</p>
<p>Om misbruik van je e-mailadres te voorkomen, hebben wij je deze bevestigingsmail gestuurd. Bevestig dat je de nieuwsbrief regelmatig wilt ontvangen door <a href="{{ url }}">hier</a> te klikken.</p>
<p>Als jij je niet hebt aangemeld voor de nieuwsbrief, kun je deze e-mail negeren.</p>