<h3>Hello {{ newsletterRecipient.firstName }} {{ newsletterRecipient.lastName }}</h3>
<p>Thank you for your interest in our newsletter!</p>
<p>In order to prevent misuse of your email address, we have sent you this confirmation email. Confirm that you wish to receive the newsletter regularly by clicking <a href="{{ url }}">here</a>.</p>
<p>If you have not subscribed to the newsletter, please ignore this email.</p>