<div style="font-family:arial; font-size:12px;">
    <p>
        Hallo {{ userRecovery.user.firstName }} {{ userRecovery.user.lastName }},<br/>
        <br/>
        Er is een verzoek geweest om je wachtwoord te resetten.
        Bevestig de link hieronder om een nieuw wachtwoord op te geven.<br/>
        <br/>
        <a href="{{ resetUrl }}">Wachtwoord resetten</a><br/>
        <br/>
        Deze link is geldig voor de komende 2 uur. Daarna moet je een nieuwe bevestigingslink aanvragen.<br/>
        Als je je wachtwoord niet wilt resetten, kan je deze e-mail negeren. Er zullen geen wijzigingen worden aangebracht.
    </p>
</div>