<div style="font-family:arial; font-size:12px;">
    <p>
        Hallo,<br/>
        <br/>
        Je verkopersaccount op {{salesChannel.name}} is ontgrendeld.<br/>
        Wij brengen je voortaan de netto aankoopprijs in rekening.
    </p>
</div>