<div style="font-family:arial; font-size:12px;">
    <p>
        {{ customer.salutation.translated.letterName }} {{ customer.firstName }} {{ customer.lastName }},<br/>
        <br/>
        Bedankt voor uw registratie bij onze webshop.<br/>
        U kunt nu inloggen via het e-mailadres <strong>{{ customer.email }}</strong> and het door jouw gekozen wachtwoord.<br/>
        Je kunt het wachtwoord op elk moment wijzigen.
    </p>
</div>