<div style="font-family:arial; font-size:12px;">
    <p>
        Hallo {{ customer.salutation.displayName }} {{ customer.lastName }},<br/>
        <br/>
        Bevestig uw e-mailadres via de volgende link:<br/>
        <br/>
        <a href="{{ confirmUrl }}">Bevestig e-mailadres</a><br/>
        <br/>
        Na de bevestiging wordt u doorverwezen naar het afrekenproces, waar jij je bestelling opnieuw kunt controleren en afronden.<br/>
        Door deze bevestiging gaat u er ook mee akkoord dat we u verdere e-mails kunnen sturen als onderdeel van de overeenkomst.
    </p>
</div>
