<div style="font-family:arial; font-size:12px;">
    <br/>
    <p>
        Hallo {{ customer.salutation.letterName }} {{ customer.lastName }},<br/>
        <br/>
        Bedankt voor je interesse in de voorwaarden voor klantengroep {{ customerGroup.translated.name }}.<br/>
        Helaas kunnen we je account niet activeren voor deze klantengroep. <br/><br/>

        Mocht je nog vragen hebben, neem dan gerust telefonisch of per mail contact met ons op.
    </p>
</div>